<section style="margin: 4em 0;">
  <header>
    <h1 class="header">
      <a href="clients">
        Clients
      </a>
    </h1>
  </header>
  <div class="clients">
    <div>
      <span class="image fit">
        <img src="images/clients/brainy-bunch-sdn-bhd.png" alt="Brainy Bunch Sdn. Bhd." />
      </span>
      <h3>Brainy Bunch Sdn. Bhd.</h3>
    </div>
    <div>
      <span class="image fit">
        <img src="images/clients/raudhah-city-sdn-bhd.png" alt="Raudhah City Sdn. Bhd." />
      </span>
      <h3>Raudhah City Sdn. Bhd.</h3>
    </div>
  </div>
</section>