<!DOCTYPE HTML>

<html>
{% include head.html %}
<body>

<header id="header">
	<h1>{{ site.title }}</h1>
	<p>
    We are building something beautiful.<br />
    Keep up to date by subscribing to our mailing list.
  </p>
</header>

<form id="signup-form" method="post">
	<input type="email" name="email" id="email" placeholder="Email Address" />
	<input type="submit" value="Subscribe" />
  <input type="hidden" name="_next" value="/" />
  <input type="hidden" name="_subject" value="Mailing List Subscribe" />
</form>

{% include footer.html %}

</body>
</html>